@layout AuthLayout
@page "/forgotpassword"

<style>
    .logo-img {
        max-width: 100px;
        position: relative;
        margin: 0 auto 10px auto;
        display: block;
    }
</style>
<div class="card-wrapper">
    <img class="logo-img" src="/icon-512.png" />
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form @onsubmit="Submit">
                <div class="form-group">
                    <label for="username">Username/Email:</label>
                    <input type="text" class="form-control" name="username" @bind="Login" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" @bind="NewPassword" required />
                </div>
                <div class="form-group">
                    <label for="passwordconf">Password Confirmation</label>
                    <input type="password" class="form-control" name="passwordconf" @bind="NewPasswordConf" required />
                </div>
                @if (IsWorking)
                {
                    <button type="submit" class="btn btn-success btn-block float-right" disabled><span class="oi oi-margin-right oi-loop-circular spinning"></span>Loading</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                }
            </form>
            <div class="error">
                <p>@error</p>
            </div>
        </div>
        <div class="card-footer">
            <div>
                <span>Log in</span>
                <NavLink href="login" class="btn btn-info btn-block">Log in</NavLink>
            </div><br />
            <div>
                <span>Home page</span>
                <NavLink href="login" class="btn btn-info btn-block">Home</NavLink>
            </div>
        </div>
    </div>
</div>

@code {
    public string Login { get; set; }
    public string NewPassword { get; set; }
    public string NewPasswordConf { get; set; }

    string error = string.Empty;
    bool IsWorking = false;

    async Task Submit()
    {
        IsWorking = true;

        if (NewPassword.Length < 6)
        {
            error = "Password must be at least 6 characters";
            IsWorking = false;
            return;
        }
        if (NewPassword != NewPasswordConf)
        {
            error = "Passwords must match";
            IsWorking = false;
            return;
        }

        var resp = await Ez.GetHttpPostResponse("auth/resetpwd", new Dictionary<string, string>
    {
            {"login", Login },
            {"password", NewPasswordConf }
        }, false);

        if (!resp.IsSuccessStatusCode)
        {
            error = await resp.Content.ReadAsStringAsync();
            return;
        }

        ToastService.ShowToast("Check your email for confirmation link", ToastLevel.Info);
        await Task.Delay(2500);

        if (Login.Contains("@")) await JsRuntime.InvokeVoidAsync("open", "_blank", $"{Login.Split('@')[1]}");

        IsWorking = false;
    }


}
