@layout AuthLayout
@page "/verifysuccess"

<style>
    .logo-img {
        max-width: 100px;
        position: relative;
        margin: 0 auto 10px auto;
        display: block;
    }
</style>

<div class="card-wrapper">
    <img class="logo-img" src="/icon-512.png" />
    <div class="card">
        <div class="card-body">
            <center>
                <h4>You have successfully verified your account</h4>
                <br />
                <a class="btn btn-success" href="/login">Log in</a>
            </center>
        </div>
    </div>
</div>

@code {

}
