<div class="review white-bg d-flex" style="        
        justify-items: center;
        justify-content: center;
        justify-self: center;
        align-self: center;
        max-width: 50%;
        left: 25%;
        padding: 2rem">
    <div class="spinner-border text-danger" role="status" style="color: #ff8503 !important;">
        <span class="sr-only" style="justify-self: center">Loading...</span>
    </div>
</div>
