@page "/externaloffers"

<h3>External Offers from our partners</h3>
<hr />
<a class="btn btn-info" target="_blank" href="https://www.g2a.com/n/reflink-e029khams">Buy games for cheaper</a>
<hr />
<a class="btn btn-info" target="_blank" href="https://amzn.to/3s81iL1">Acheter sur amazon.fr</a>

@code {

}
