@page "/disputespool"

<h3>Disputes Pool</h3>

<div class="container">
    @foreach(var i in Db.Disputes.Find(x => !x.StaffAssigned).ToList())
            {
                <div>
                    <h4>@i.JobId</h4>
                    <button @onclick="@(()=>
                                        {
                                            Db.Disputes.UpdateOne(x => x.Id == i.Id, new UpdateDefinitionBuilder<Dispute>()
                                                .Set(x=>x.StaffAssigned, true)
                                                .Set(x=>x.StaffIds, new List<string>() { Staff.Id}));
                                            StateHasChanged();
                                            NavMan.NavigateTo("/modjob/" + i.JobId);
                                        })">CLAIM</button>
                </div>
            }
</div>

@code {

    StaffUser Staff = new StaffUser();
    bool Loading = true;

    protected override async Task OnInitializedAsync()
    {
        Staff = await StorageService.GetItemAsync<StaffUser>("user");
        Loading = false;
        await base.OnInitializedAsync();
    }

}
