@if (Loading)
{
    <Loader/>
}
else
{
    <div class="card-wrapper">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="amt">Amount</label>
                        <input name="amt" @bind="Amount"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string WalletId { get; set; }

    public decimal Amount { get; set; }

    bool Loading = true;

    protected override async Task OnInitializedAsync()
    {


        await base.OnInitializedAsync();
    }
}
